<h1 align = "center">Hello, Rails!</h1>
<p align = "center"><%=link_to 'My Blog', controller: 'articles' %></p>
<!-- Pic with link
<%= link_to image_tag("index_neko.gif", :class => "pic"), image_path("index_neko.gif")%> -->
<p align = "center"><%= image_tag("index_neko") %></p>
<!-- <img src = "/assets/index_neko" />    NO /images  -->
<p style="font-weight: bold; position: fixed; right: 10px; bottom: 5px; ">Copyright &copy;CatasLi</p>